<mat-toolbar >
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Expenser</h1>
    <div class="nav">
      <input type="search">
      <div class="profile">
        <p>Lathesh</p>
        <div class="image">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" class="relative">
    <mat-nav-list>
      <div mat-list-item class="flex items-center gap-4 p-4 px-7">
        <mat-icon>dashboard</mat-icon>
        <p class="m-0 text-lg font-medium">Dashboard</p>
      </div>
      <div mat-list-item class="flex items-center gap-4 p-4 px-7">
        <mat-icon>description</mat-icon>       
         <p class="m-0 text-lg font-medium">Document</p>
			</div >
      <div mat-list-item class="flex items-center gap-4 p-4 px-7">
				<mat-icon>build</mat-icon>
        <p class="m-0 text-lg font-medium">Setting</p>
			</div>
      <div mat-list-item class="absolute bottom-0 left-0 flex items-center gap-4 p-4 px-7">
				<mat-icon filled="true">exit_to_app</mat-icon>
        <p class="m-0 text-lg font-medium">Sign out</p>
			</div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
