<div class="container">
  <div class="form-wrapper">
    <div class="login-container" [class.drop]="drop">
      <div class="login-message">
        <h1>Hello.</h1>
        <h2>Welcome back</h2>
      </div>
      <div class="login-credential">
        <form class="field" [formGroup]="signInForm"  (ngSubmit)="onSubmit()">
          <div>
            <label>Email</label>
            <div class="input-field">
              <input type="text" placeholder="Enter email" formControlName="email"/>
              <i class="bx bx-envelope"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="input-field">
              <input type="password" placeholder="Enter password" formControlName="password"/>
              <i class="bx bx-lock-alt"></i>
            </div>
          </div>
          <div class="login-forgot">
            <a href="">Forgot password?</a>
          </div>
          <div class="login-button">
            <button>Sign In</button>
          </div>
        </form>

        <div class="login-options">
          <div class="message">
            <p>Or Continue With</p>
          </div>
          <div class="socila-media">
            <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
            <i class="bx bxl-facebook-circle" ></i>
            <i class="bx bxl-windows" (click)="microsoftLogin()"></i>
          </div>
        </div>
        <footer>
          <p (click)="drop = !drop">
            Don't have an account? <a href="#" (click)="resetForm('signUp')">Sign up</a>
          </p>
        </footer>
      </div>
    </div>
    <div class="register-form" [class.drop]="!drop">
      <div class="login-message">
        <h1>Sign Up</h1>
      </div>
      <div class="login-credential">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="field" formGroupName="name">
            <div class="input-field">
              <label for="">First Name</label>
              <input type="text" placeholder="Enter first name" formControlName="fName"/>
            </div>
            <div class="input-field">
              <label for="">Last Name</label>
              <input type="text" placeholder="Enter last name" formControlName="lName"/>
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <div class="input-field">
              <input type="text" placeholder="Enter email" formControlName="email"/>
              <i class="bx bx-envelope"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="input-field">
              <input type="password" placeholder="Enter password" formControlName="password"/>  
              <i class="bx bx-lock-alt"></i>
            </div>
          </div>
          <div class="login-button">
            <button>Sign Up</button>
          </div>
        </form>
      </div>

    
      <footer>
        <p (click)="drop = !drop">
          Already have an account? <a href="#" (click)="resetForm('signIn')">Sign in</a>
        </p>
      </footer>
      <div class="login-options">
        <div class="message">
          <p>Or Continue With</p>
        </div>
        <div class="socila-media">
          <!-- <i class="bx bxl-google"></i> -->
          <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
          <i class="bx bxl-facebook-circle"></i>
          <i class="bx bxl-windows"></i>
        </div>
      </div>
    </div>
  </div>
</div>
