@mixin position($direction: row, $align: center, $justify: center, $gap: 0) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  gap: $gap;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100vh;
  @include position(column, center, center);
  padding: 1rem;
  .form-wrapper {
    width: min(100%, 539px);
    min-height: 675px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    .login-container,
    .register-form {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem;
      @include position(column, "", "", 2rem);
      border-radius: 8px;
      transform: translateY(0);
      transition: transform 0.5s ease;
      &.drop {
        transform: translateY(150%);
      }
      .login-message {
        h1 {
          font-size: 2.5rem;
          font-weight: 700 !important;
        }
        h2 {
          font-size: 1.5rem;
          font-weight: 500;
          color: #9095a0;
        }
      }
      .login-credential {
        width: 100%;
        @include position(column, "", "", 1rem);
        .field {
          @include position(column, "", "", 0.5rem);
          label {
            font-size: 1rem;
            font-weight: 600;
            color: #4e5460;
          }
          .input-field {
            position: relative;
            input {
              width: 100%;
              padding: 1rem;
              padding-right: 4rem;
              padding-left: 2.5rem;
              outline: none;
              background-color: #f3f4f6;
              border: none;
              border-radius: 3px;
              &::placeholder {
                font-size: 1rem;
                font-weight: 500;
                color: #c7cbd2;
              }
            }
            i {
              height: 100%;
              @include position("", center, "", "");
              position: absolute;
              top: 0;
              left: 10px;
              font-size: 1.5rem;
              color: #9095a0;
            }
          }
        }
        .login-forgot {
          width: 100%;
          a {
            text-decoration: none;
            float: right;
            color: #273ea8;
          }
        }
      }
      .login-button {
        width: 100%;
        button {
          width: 100%;
          padding: 0.7rem;
          border-radius: 3px;
          border: none;
          font-size: 1rem;
          color: white;
          background: #273ea8;
          cursor: pointer;
        }
      }
      .login-options {
        margin-top: 3rem;
        width: 100%;
        @include position(column, center, "", 1rem);
        .message {
          p {
            color: #9095a0;
            font-weight: 400;
          }
        }
        .socila-media {
          @include position("", "", "", 1rem);
          i {
            font-size: 2rem;
            cursor: pointer;
            &:nth-child(1) {
              color: #ea4335;
            }
            &:nth-child(2) {
              color: #1877f2;
            }
            &:nth-child(3) {
              color: #273ea8;
            }
          }
        }
      }
      footer {
        width: 100%;
        text-align: center;
        p {
          color: #9095a0;
        }
        a {
          color: #273ea8;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
    .register-form {
      transform: translateY(0%);
      transition: transform 0.5s ease;
      &.drop {
        transform: translateY(-100%);
      }
      h1 {
        text-align: center;
      }
      form {
        width: 100%;
        @include position(column, "", "", 1rem);
        .field:nth-child(1),
        .field:nth-child(4) {
          @include position(row, "", space-between, 1rem);
          .input-field {
            input {
              padding: 1rem;
            }
          }
        }
      }
      .login-options {
        margin-top: 0;
      }
    }
  }
}
